# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
media/screenshots/
staticfiles/

# Coverage
.coverage
htmlcov/

# Environment variables
.env

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db